<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ÖffStrRe</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="\css\styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">You know nothing...yet!</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="vorgaenge"><a href="vorgaenge">Vorgänge</a></li>          <!-- ruft die Homepage (view > "home" auf) -->
          <li id="neuerVorgang"><a href="vorgangNeu">Vorgang anlegen</a></li> <!-- Vorgang anlegen//ruft die Seite "neuerVorgang" auf (view > noch erstellen)-->
          <li id="anmelden"><a href="/">Anmelden</a></li>  <!-- ruft die Anmeldemaske aus (view > noch erstellen) -->
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
