
  <label for="Choice1">Natürliche Person</label>
  <input type="radio" name="contact" value="natPer" onchange="this.form.submit()" checked>
<br>
  <label for="Choice2">Juristische Person</label>
  <input type="radio" name="contact" value="jurPer" onchange="this.form.submit()">
