<div class="">
  <label for="street">Straße</label><br>
  <input type="text" name="streetApplicant" value="">
</div>
<div class="">
  <label for="number">Nummer</label><br>
  <input type="text" name="numberApplicant" value="">
</div>
<div class="">
  <label for="zipCode">PLZ</label><br>
  <input type="text" name="zipCodeApplicant" value="">
</div>
<div class="">
  <label for="fiName">Firmierung</label><br>
  <input type="text" name="compNameApplicant" value="">
</div>
<div class="">
  <label for="laName">Form</label><br>
  <input type="text" name="compFormApplicant" value="">
</div>
<div class="">
</div>
