<div class="">
  <label for="street">Straße</label><br>
  <input type="text" name="streetApplicant" value="">
</div>
<div class="">
  <label for="number">Nummer</label><br>
  <input type="text" name="numberApplicant" value="">
</div>
<div class="">
  <label for="zipCode">PLZ</label><br>
  <input type="text" name="zipCodeApplicant" value="">
</div>
<div class="">
  <label for="fiName">Vorname</label><br>
  <input type="text" name="fiNameApplicant" value="">
</div>
<div class="">
  <label for="laName">Nachname</label><br>
  <input type="text" name="laNameApplicant" value="">
</div>
<div class="">
  <label for="fiName">Akademischer Titel</label><br>
  <input type="text" name="degreeApplicant" value="">
</div>
<div class="">
  <label for="laName">Geburtsdatum</label><br>
  <input type="date" name="birthDateApplicant" value="">
</div>
