<div class="">
  <label for="street">Straße</label><br>
  <input type="text" name="streetOwner" value="">
</div>
<div class="">
  <label for="number">Nummer</label><br>
  <input type="text" name="numberOwner" value="">
</div>
<div class="">
  <label for="zipCode">PLZ</label><br>
  <input type="text" name="zipCodeOwner" value="">
</div>
<div class="">
  <label for="fiName">Firmierung</label><br>
  <input type="text" name="compNameOwner" value="">
</div>
<div class="">
  <label for="laName">Form</label><br>
  <input type="text" name="compFormOwner" value="">
</div>
