<div class="">
  <label for="street">Straße</label><br>
  <input type="text" name="streetOwner" value="">
</div>
<div class="">
  <label for="number">Nummer</label><br>
  <input type="text" name="numberOwner" value="">
</div>
<div class="">
  <label for="zipCode">PLZ</label><br>
  <input type="text" name="zipCodeOwner" value="">
</div>
<div class="">
  <label for="fiName">Vorname</label><br>
  <input type="text" name="fiNameOwner" value="">
</div>
<div class="">
  <label for="laName">Nachname</label><br>
  <input type="text" name="laNameOwner" value="">
</div>
<div class="">
  <label for="fiName">Akademischer Titel</label><br>
  <input type="text" name="degreeOwner" value="">
</div>
<div class="">
  <label for="laName">Geburtsdatum</label><br>
  <input type="date" name="birthDateOwner" value="">
</div>
