<div class="">
  <label for="street">Straße</label><br>
  <input type="text" name="plotStreet" value="">
</div>
<div class="">
  <label for="number">Nummer</label><br>
  <input type="text" name="plotNumber" value="">
</div>
<div class="">
  <label for="zipCode">PLZ</label><br>
  <input type="text" name="plotZipCode" value="">
</div>
<div class="">
  <label for="district">Bezirk | Ortsteil</label><br>
  <input type="text" name="plotDistrict" value="">
</div>
<div class="">
  <label for="registry">Grundbuchamt</label><br>
  <input type="text" name="plotRegistry" value="">
</div>
<div class="">
  <label for="sheet">Blatt</label><br>
  <input type="text" name="plotSheet" value="">
</div>
